/* Group 24776 */

position: absolute;
width: 1269.41px;
height: 733.12px;
left: calc(50% - 1269.41px/2 - 0.2px);
top: 689px;



/* Group 24760 */

position: absolute;
width: 609px;
height: 338.12px;
left: 1109px;
top: 1084px;



/* Rectangle 4794 */

position: absolute;
width: 539.4px;
height: 86.9px;
left: 1143.8px;
top: 1084px;

background: rgba(22, 161, 251, 0.16);
backdrop-filter: blur(15.7999px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 31.5998px;


/* Rectangle 4793 */

position: absolute;
width: 609px;
height: 322.32px;
left: 1109px;
top: 1099.8px;

background: linear-gradient(185.92deg, #49AAFF 55.63%, #188BEF 95.3%);
border-radius: 25.2799px;


/* 12:33 */

position: absolute;
left: 52.44%;
right: 43.19%;
top: 69.68%;
bottom: 28.64%;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 22.1199px;
line-height: 27px;
/* identical to box height */

color: #FFFFFF;



/* Frame */

position: absolute;
width: 37.92px;
height: 41.76px;
left: 1658.84px;
top: 1115.6px;

transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 50.47%;
right: 41.19%;
top: 41.62%;
bottom: 50.05%;

background: #FFFFFF;
border: 2.36999px solid #FFFFFF;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 18.36%;
right: 73.31%;
top: 41.62%;
bottom: 50.05%;

background: #FFFFFF;
border: 2.36999px solid #FFFFFF;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 82.59%;
right: 9.07%;
top: 41.62%;
bottom: 50.05%;

background: #FFFFFF;
border: 2.36999px solid #FFFFFF;
transform: rotate(-90deg);


/* Group 24468 */

position: absolute;
width: 553.32px;
height: 72.68px;
left: 1136.84px;
top: 1324.16px;



/* Rectangle 4753 */

position: absolute;
width: 553.32px;
height: 72.68px;
left: 1136.84px;
top: 1324.16px;

background: #FFFFFF;
box-shadow: 0px 7.89996px 78.9996px rgba(0, 0, 0, 0.06);
border-radius: 18.9599px;


/* Group 24617 */

position: absolute;
width: 62.64px;
height: 56.88px;
left: 1618.82px;
top: 1332.06px;



/* Rectangle 4754 */

box-sizing: border-box;

position: absolute;
width: 62.64px;
height: 56.88px;
left: 1618.82px;
top: 1332.06px;

background: rgba(24, 139, 239, 0.12);
border-radius: 11.0599px;


/* Frame */

position: absolute;
width: 26.53px;
height: 26.53px;
left: 1636.87px;
top: 1347.24px;



/* Vector */

position: absolute;
left: 18.74%;
right: 18.76%;
top: 15.64%;
bottom: 15.61%;

border: 2.05399px solid #16A1FB;


/* Frame */

position: absolute;
visibility: hidden;
width: 29.85px;
height: 29.85px;
left: 1635.21px;
top: 1345.58px;



/* Vector */

position: absolute;
left: 34.38%;
right: 34.37%;
top: 3.12%;
bottom: 31.25%;

background: #4995FF;


/* Vector */

position: absolute;
left: 21.88%;
right: 21.87%;
top: 43.74%;
bottom: 3.13%;

background: #4995FF;


/* Frame */

position: absolute;
width: 36.48px;
height: 36.48px;
left: 1158.62px;
top: 1342.26px;

opacity: 0.7;


/* Group 24682 */

position: absolute;
width: 25.84px;
height: 25.84px;
left: 4.56px;
top: 6.08px;



/* Vector */

position: absolute;
left: 12.51%;
right: 20.83%;
top: 16.67%;
bottom: 16.66%;

border: 2.36999px solid #111D25;


/* Vector */

position: absolute;
left: 70.84%;
right: 16.66%;
top: 75%;
bottom: 12.5%;

border: 2.36999px solid #111D25;


/* 12:33 */

position: absolute;
left: 55.73%;
right: 29.43%;
top: 83.95%;
bottom: 14.62%;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 18.9599px;
line-height: 23px;
/* identical to box height */

color: #000000;

opacity: 0.4;


/* Mask group */

position: absolute;
width: 609px;
height: 218.04px;
left: 1109px;
top: 1121.92px;



/* Rectangle 24513 */

position: absolute;
width: 609px;
height: 218.04px;
left: 1109px;
top: 1121.92px;

background: #FFFFFF;


/* Group 24759 */

position: absolute;
width: 623.26px;
height: 134.31px;
left: 1136.84px;
top: 1170.9px;



/* Group 24740 */

position: absolute;
width: 623.26px;
height: 99.92px;
left: 1136.84px;
top: 1170.9px;



/* Frame 24740 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 15.99px;

position: absolute;
width: 623.26px;
height: 99.92px;
left: 1136.84px;
top: 1170.9px;



/* Group 24731 */

width: 99.36px;
height: 99.36px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 4784 */

box-sizing: border-box;

position: absolute;
width: 99.36px;
height: 99.36px;
left: calc(50% - 99.36px/2 - 261.95px);
top: 0.28px;

background: rgba(255, 255, 255, 0.08);
border: 1.99834px dashed #FFFFFF;
border-radius: 111.387px;


/* Frame */

position: absolute;
width: 31.97px;
height: 31.97px;
left: 33.18px;
top: 34.38px;



/* Vector */

position: absolute;
left: 18.75%;
right: 18.75%;
top: 18.75%;
bottom: 18.75%;

border: 1.99834px solid #FFFFFF;


/* Group 24732 */

position: absolute;
visibility: hidden;
width: 36.91px;
height: 19.87px;
left: 60.48px;
top: 80.32px;



/* Rectangle 4785 */

box-sizing: border-box;

position: absolute;
width: 36.91px;
height: 19.87px;
left: 60.48px;
top: 80.32px;

background: linear-gradient(180deg, #49AAFF 0%, #188BEF 100%);
border: 1.89357px solid #FFFFFF;
border-radius: 111.387px;


/* Title Text */

position: absolute;
width: 20px;
height: 11px;
left: calc(50% - 20px/2 - 233.13px);
top: 84.67px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 8.91093px;
line-height: 11px;
/* identical to box height */
text-align: center;
letter-spacing: -0.01em;

color: #FFFFFF;



/* Group 24737 */

width: 99.36px;
height: 99.36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 4784 */

position: absolute;
width: 99.36px;
height: 99.36px;
left: calc(50% - 99.36px/2 - 146.6px);
top: 0.28px;

background: rgba(2, 95, 178, 0.7);
border-radius: 157.999px;
transform: rotate(-180deg);


/* Rectangle 4785 */

position: absolute;
width: 86.9px;
height: 86.9px;
left: calc(50% - 86.9px/2 - 146.52px);
top: 6.32px;

background: url(.jpg);
border: 2.36999px solid #FFFFFF;
box-shadow: 0px 0px 47.3998px rgba(0, 0, 0, 0.08);
border-radius: 55.6933px;


/* Group 24741 */

width: 99.36px;
height: 99.36px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 4784 */

position: absolute;
width: 99.36px;
height: 99.36px;
left: calc(50% - 99.36px/2 - 31.24px);
top: 0.28px;

background: rgba(2, 95, 178, 0.7);
border-radius: 157.999px;
transform: rotate(-180deg);


/* Rectangle 4785 */

position: absolute;
width: 86.9px;
height: 86.9px;
left: calc(50% - 86.9px/2 - 31.17px);
top: 6.32px;

background: url(.jpg);
border: 2.36999px solid #FFFFFF;
box-shadow: 0px 0px 47.3998px rgba(0, 0, 0, 0.08);
border-radius: 55.6933px;


/* Group 24740 */

width: 99.36px;
height: 99.36px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Rectangle 4784 */

position: absolute;
width: 99.36px;
height: 99.36px;
left: calc(50% - 99.36px/2 + 84.11px);
top: 0.28px;

background: rgba(2, 95, 178, 0.7);
border-radius: 157.999px;
transform: rotate(-180deg);


/* Rectangle 4785 */

position: absolute;
width: 86.9px;
height: 86.9px;
left: calc(50% - 86.9px/2 + 84.19px);
top: 6.32px;

background: url(.jpg);
border: 2.36999px solid #FFFFFF;
box-shadow: 0px 0px 47.3998px rgba(0, 0, 0, 0.08);
border-radius: 55.6933px;


/* Group 24742 */

width: 99.36px;
height: 99.36px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Rectangle 4784 */

position: absolute;
width: 99.36px;
height: 99.36px;
left: calc(50% - 99.36px/2 + 199.46px);
top: 0.28px;

background: rgba(2, 95, 178, 0.8);
border-radius: 157.999px;
transform: rotate(-180deg);


/* Rectangle 4785 */

position: absolute;
width: 86.9px;
height: 86.9px;
left: calc(50% - 86.9px/2 + 199.54px);
top: 6.32px;

background: url(.jpg);
border: 2.36999px solid #FFFFFF;
box-shadow: 0px 0px 47.3998px rgba(0, 0, 0, 0.12);
border-radius: 55.6933px;


/* Group 24741 */

position: absolute;
width: 580.3px;
height: 22.65px;
left: 1146.98px;
top: 1282.55px;

opacity: 0.95;


/* Title Text */

position: absolute;
width: 82.59px;
height: 21px;
left: calc(50% - 82.59px/2 + 104.37px);
top: 1282.55px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 17.3189px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;



/* Group 24754 */

position: absolute;
width: 75.03px;
height: 22.65px;
left: 1281.95px;
top: 1282.55px;



/* Title Text */

position: absolute;
width: 49.56px;
height: 21px;
left: calc(50% - 49.56px/2 + 222.83px);
top: 1282.55px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 17.3189px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;



/* Group 24508 */

position: absolute;
width: 20.97px;
height: 20.97px;
left: 1336.01px;
top: 1284.23px;



/* Frame */

position: absolute;
width: 20.97px;
height: 20.97px;
left: 1336.01px;
top: 1284.23px;



/* Group */

position: absolute;
left: 10.09%;
right: 10.06%;
top: 4%;
bottom: 16.16%;



/* Layer 2 */

position: absolute;
left: 10.09%;
right: 10.06%;
top: 4%;
bottom: 16.16%;



/* Vector */

position: absolute;
left: 10.09%;
right: 10.06%;
top: 4%;
bottom: 16.16%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 36.28%;
right: 36.31%;
top: 33.36%;
bottom: 45.67%;

background: #329AF5;


/* Title Text */

position: absolute;
width: 103.52px;
height: 21px;
left: calc(50% - 103.52px/2 + 359.84px);
top: 1282.55px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 17.3189px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;



/* Title Text */

position: absolute;
width: 46.25px;
height: 21px;
left: calc(50% - 46.25px/2 + 486.73px);
top: 1282.55px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 17.3189px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;



/* Title Text */

position: absolute;
width: 63.87px;
height: 21px;
left: calc(50% - 63.87px/2 + 611.44px);
top: 1282.55px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 17.3189px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;



/* Group 24757 */

position: absolute;
width: 62.64px;
height: 161.71px;
left: 1655.36px;
top: 1145.62px;



/* Group 24738 */

position: absolute;
width: 62.64px;
height: 161.27px;
left: 1655.36px;
top: 1146.06px;



/* Rectangle 4950 */

position: absolute;
width: 62.64px;
height: 161.27px;
left: 1655.36px;
top: 1146.06px;

background: linear-gradient(270deg, #4AAAFE 0%, rgba(74, 170, 254, 0) 100%);


/* Rectangle 4951 */

position: absolute;
width: 62.64px;
height: 161.11px;
left: 1655.36px;
top: 1145.62px;

background: linear-gradient(270deg, #4AAAFE 0%, rgba(74, 170, 254, 0) 100%);


/* Group 24455 */

position: absolute;
width: 609.39px;
height: 733px;
left: 449px;
top: 689px;



/* Rectangle 4755 */

position: absolute;
width: 609.38px;
height: 733px;
left: 449px;
top: 689px;

background: #FFFFFF;
box-shadow: 0px 52.2328px 34.8219px rgba(0, 0, 0, 0.06);
border-radius: 34.8219px;


/* Group 24544 */

position: absolute;
width: 553.67px;
height: 127.1px;
left: 476.86px;
top: 730.78px;



/* Rectangle 4756 */

position: absolute;
width: 553.67px;
height: 107.95px;
left: 476.86px;
top: 730.78px;

background: linear-gradient(180deg, #49AAFF 0%, #188BEF 100%);
border-radius: 19.152px;


/* Group 24556 */

position: absolute;
width: 40.05px;
height: 40.05px;
left: 973.07px;
top: 817.84px;



/* Rectangle 24512 */

box-sizing: border-box;

position: absolute;
width: 40.05px;
height: 40.05px;
left: 973.07px;
top: 817.84px;

background: #FFFFFF;
border: 1.74109px solid #EFEFEF;
box-shadow: 5.22328px 5.22328px 13.9287px rgba(0, 0, 0, 0.03);
border-radius: 20.0226px;


/* 12:33 */

position: absolute;
left: 45.35%;
right: 53.69%;
top: 51.49%;
bottom: 47.27%;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 20.1967px;
line-height: 25px;

color: #000000;



/* 12:33 */

position: absolute;
width: 497.95px;
height: 70px;
left: 504.72px;
top: 751.68px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 22.6342px;
line-height: 35px;
/* or 154% */

color: #FFFFFF;



/* Group 24554 */

position: absolute;
width: 541.48px;
height: 681.91px;
left: 476.86px;
top: 702.93px;



/* Group 24553 */

position: absolute;
width: 532px;
height: 114.49px;
left: 476.86px;
top: 866.59px;



/* 12:33 */

position: absolute;
left: 22%;
right: 74.96%;
top: 53.83%;
bottom: 44.31%;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 24.3753px;
line-height: 30px;
/* identical to box height */

color: #061F35;



/* 12:33 */

position: absolute;
left: 22%;
right: 53.46%;
top: 56.96%;
bottom: 39.06%;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 52.2328px;
line-height: 64px;
/* identical to box height */

color: #061F35;



/* Rectangle 4758 */

position: absolute;
width: 71.38px;
height: 5.22px;
left: 718.87px;
top: 702.93px;

background: #061F35;
opacity: 0.2;
border-radius: 174.109px;


/* Frame 24549 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 27.86px;

position: absolute;
width: 541.48px;
height: 370.25px;
left: 476.86px;
top: 1014.58px;



/* Group 24547 */

width: 541.48px;
height: 57.45px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line 2 */

position: absolute;
width: 539.74px;
height: 0px;
left: 0px;
top: 57.45px;

opacity: 0.04;
border: 1.74109px solid #061F35;


/* Group 24545 */

position: absolute;
width: 541.48px;
height: 31.34px;
left: 0px;
top: 0px;



/* 12:33 */

position: absolute;
left: 0%;
right: 88.55%;
top: 0%;
bottom: 92.17%;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 24.3753px;
line-height: 29px;
/* identical to box height */

color: #061F35;



/* Frame */

position: absolute;
width: 31.34px;
height: 31.34px;
left: 510.14px;
top: 0px;



/* Vector */

position: absolute;
left: 8.33%;
right: 12.47%;
top: 12.47%;
bottom: 8.33%;

border: 1.74109px solid #061F35;


/* Group 24552 */

width: 539.74px;
height: 57.46px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 2 */

position: absolute;
width: 539.74px;
height: 0px;
left: 0px;
top: 142.77px;

opacity: 0.04;
border: 1.74109px solid #061F35;


/* Group 24545 */

position: absolute;
width: 539.74px;
height: 31.34px;
left: 0px;
top: 85.31px;



/* 12:33 */

position: absolute;
left: 0%;
right: 83.38%;
top: 23.04%;
bottom: 69.13%;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 24.3753px;
line-height: 29px;
/* identical to box height */

color: #061F35;



/* Frame */

position: absolute;
width: 31.34px;
height: 31.34px;
left: 508.4px;
top: 85.31px;



/* Vector */

position: absolute;
left: 8.33%;
right: 12.47%;
top: 12.47%;
bottom: 8.34%;

border: 1.74109px solid #061F35;


/* Vector */

position: absolute;
left: 29.16%;
right: 33.34%;
top: 37.5%;
bottom: 37.5%;

border: 1.74109px solid #061F35;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 24546 */

width: 539.74px;
height: 57.45px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Line 2 */

position: absolute;
width: 539.74px;
height: 0px;
left: 0px;
top: 228.08px;

opacity: 0.04;
border: 1.74109px solid #061F35;


/* Group 24545 */

position: absolute;
width: 539.74px;
height: 31.34px;
left: 0px;
top: 170.63px;



/* 12:33 */

position: absolute;
left: 0%;
right: 89.1%;
top: 46.08%;
bottom: 46.08%;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 24.3753px;
line-height: 29px;
/* identical to box height */

color: #061F35;



/* Frame */

position: absolute;
width: 31.34px;
height: 31.34px;
left: 508.4px;
top: 170.63px;

opacity: 0.8;


/* Vector */

position: absolute;
left: 33.33%;
right: 8.34%;
top: 33.34%;
bottom: 8.33%;

border: 2.08931px solid #061F35;


/* Vector */

position: absolute;
left: 8.33%;
right: 33.34%;
top: 8.34%;
bottom: 33.33%;

border: 2.08931px solid #061F35;


/* Group 24551 */

width: 539.74px;
height: 57.46px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Line 2 */

position: absolute;
width: 539.74px;
height: 0px;
left: 0px;
top: 313.4px;

opacity: 0.04;
border: 1.74109px solid #061F35;


/* Group 24545 */

position: absolute;
width: 536.26px;
height: 31.34px;
left: 0px;
top: 255.94px;



/* 12:33 */

position: absolute;
left: 0%;
right: 87.07%;
top: 69.12%;
bottom: 23.04%;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 24.3753px;
line-height: 29px;
/* identical to box height */

color: #FF3232;



/* Frame */

position: absolute;
width: 31.34px;
height: 31.34px;
left: 504.92px;
top: 255.94px;



/* Vector */

position: absolute;
left: 15.63%;
right: 15.62%;
top: 9.38%;
bottom: 9.37%;

border: 1.74109px solid #FF3232;


/* Group 24549 */

width: 70px;
height: 29px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Line 2 */

position: absolute;
visibility: hidden;
width: 539.74px;
height: 0px;
left: 0px;
top: 398.71px;

opacity: 0.04;
border: 1.74109px solid #000000;


/* Group 24545 */

position: absolute;
width: 70px;
height: 29px;
left: 0px;
top: 341.25px;



/* 12:33 */

position: absolute;
left: 0%;
right: 87.07%;
top: 92.17%;
bottom: 0%;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 24.3753px;
line-height: 29px;
/* identical to box height */

color: #061F35;



/* Group 24497 */

position: absolute;
width: 160.18px;
height: 106.21px;
left: 898.2px;
top: 890.97px;



/* Group 24555 */

position: absolute;
width: 160.18px;
height: 106.21px;
left: 898.2px;
top: 890.97px;



/* Rectangle 24510 */

position: absolute;
width: 160.18px;
height: 100.98px;
left: 898.2px;
top: 890.97px;

background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);


/* Rectangle 24511 */

position: absolute;
width: 74.87px;
height: 100.98px;
left: 983.52px;
top: 896.19px;

background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);


/* Group 24729 */

position: absolute;
width: 609.41px;
height: 365.56px;
left: calc(50% - 609.41px/2 + 329.8px);
top: 689px;



/* Group 24726 */

position: absolute;
width: 295.47px;
height: 73.13px;
left: 1109.32px;
top: 689px;



/* Rectangle 4785 */

position: absolute;
width: 295.47px;
height: 73.13px;
left: 1109.32px;
top: 689px;

background: linear-gradient(180deg, #49AAFF 0%, #188BEF 100%);
border-radius: 17.4109px;


/* Group 24725 */

position: absolute;
width: 95.87px;
height: 27.86px;
left: 1206.82px;
top: 711.64px;



/* Frame */

position: absolute;
width: 27.86px;
height: 27.86px;
left: 1206.82px;
top: 711.64px;



/* Vector */

position: absolute;
left: 9.38%;
right: 9.37%;
top: 9.38%;
bottom: 9.37%;

border: 1.74109px solid #FFFFFF;


/* Title Text */

position: absolute;
width: 59px;
height: 27px;
left: calc(50% - 59px/2 + 189.29px);
top: 711.64px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 22.6342px;
line-height: 27px;
/* identical to box height */

color: #FFFFFF;



/* Group 24727 */

position: absolute;
width: 292.21px;
height: 73.13px;
left: 1426.19px;
top: 689px;



/* Rectangle 4785 */

box-sizing: border-box;

position: absolute;
width: 292.21px;
height: 73.13px;
left: 1426.19px;
top: 689px;

background: #FFFFFF;
border: 1.74109px solid rgba(24, 141, 243, 0.6);
border-radius: 17.4109px;


/* Group 24725 */

position: absolute;
width: 94.87px;
height: 27.86px;
left: 1525.43px;
top: 711.64px;



/* Frame */

position: absolute;
width: 27.86px;
height: 27.86px;
left: 1525.43px;
top: 711.64px;



/* Vector */

position: absolute;
left: 9.37%;
right: 9.38%;
top: 24.38%;
bottom: 19.37%;

background: rgba(24, 141, 243, 0.08);
border: 1.74109px solid #188DF3;


/* Title Text */

position: absolute;
width: 58px;
height: 27px;
left: calc(50% - 58px/2 + 507.4px);
top: 711.64px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 22.6342px;
line-height: 27px;
/* identical to box height */

color: #188DF3;



/* Group 24700 */

position: absolute;
width: 609px;
height: 114.91px;
left: 1109px;
top: 939.65px;



/* Rectangle 4804 */

position: absolute;
width: 609px;
height: 114.91px;
left: 1109px;
top: 939.65px;

background: linear-gradient(270deg, rgba(115, 189, 236, 0.06) 7.99%, rgba(115, 189, 236, 0.21) 92.01%), rgba(255, 255, 255, 0.8);
box-shadow: 0px -52.2328px 87.0546px rgba(115, 189, 236, 0.18);
backdrop-filter: blur(34.8219px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 29.5986px;


/* Frame */

position: absolute;
width: 45.51px;
height: 45.51px;
left: 1627.68px;
top: 975.22px;

opacity: 0.35;


/* Group 24765 */

position: absolute;
width: 36.87px;
height: 36.41px;
left: calc(50% - 36.87px/2 - 0.68px);
top: calc(50% - 36.41px/2 + 0.91px);



/* Vector */

position: absolute;
left: 26.7%;
right: 30.57%;
top: 30.19%;
bottom: 26.18%;

background: #061D3D;


/* Vector */

position: absolute;
left: 8%;
right: 10.98%;
top: 12%;
bottom: 8%;

background: #061D3D;


/* Frame */

position: absolute;
height: 45.51px;
left: 62.97%;
right: 34.93%;
top: 975.22px;

opacity: 0.35;
border-radius: 0px;


/* Vector */

position: absolute;
width: 34.82px;
height: 34.82px;
left: calc(50% - 34.82px/2 + 0.88px);
top: calc(50% - 34.82px/2 + 0.88px);

background: #061D3D;


/* Settings Icon Container */

position: absolute;
visibility: hidden;
width: 45.51px;
height: 45.51px;
left: 1629.59px;
top: 975.22px;

opacity: 0.35;


/* Frame */

position: absolute;
width: 45.51px;
height: 45.51px;
left: 1629.59px;
top: 975.22px;



/* Vector */

position: absolute;
left: 9.37%;
right: 9.38%;
top: 9.37%;
bottom: 9.38%;

background: #061D3D;


/* Group 24699 */

position: absolute;
width: 201.73px;
height: 90.54px;
left: 1126.13px;
top: 955.32px;



/* Rectangle 4806 */

position: absolute;
width: 186.51px;
height: 83.57px;
left: 1141.35px;
top: 962.28px;

background: linear-gradient(106.3deg, #4FB9FF 13.87%, #26AAFF 89.97%);
opacity: 0.3;
filter: blur(26.1164px);
border-radius: 41.7862px;


/* Rectangle 4805 */

position: absolute;
width: 186.51px;
height: 83.57px;
left: 1126.13px;
top: 955.32px;

background: linear-gradient(180deg, #49AAFF 0%, #188BEF 100%);
border-radius: 19.152px;


/* Group 24766 */

position: absolute;
width: 119.4px;
height: 41.79px;
left: 1158.48px;
top: 976.21px;



/* Frame 24754 */

position: absolute;
width: 45.67px;
height: 41.79px;
left: 1158.48px;
top: 976.21px;



/* Group */

position: absolute;
width: 38.06px;
height: 34.82px;
left: calc(50% - 38.06px/2 - 1.9px);
top: calc(50% - 34.82px/2 - 0.87px);



/* Vector */

position: absolute;
left: 30.12%;
right: 12.5%;
top: 30.22%;
bottom: 10.42%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 4.17%;
right: 34.35%;
top: 6.25%;
bottom: 31.23%;

background: #FFFFFF;


/* Group 24698 */

position: absolute;
width: 62.3px;
height: 26px;
left: 1215.57px;
top: 984.05px;



/* Settings Label */

position: absolute;
width: 62.3px;
height: 26px;
left: 1215.57px;
top: 984.05px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 20.8931px;
line-height: 26px;
/* identical to box height */

color: #FFFFFF;



/* Frame */

position: absolute;
width: 45.51px;
height: 45.51px;
left: 1496.37px;
top: 975.22px;

opacity: 0.35;
border-radius: 0px;


/* Group */

position: absolute;
width: 37.66px;
height: 36.41px;
left: calc(50% - 37.66px/2 - 0.29px);
top: calc(50% - 36.41px/2 + 0.91px);



/* Group */

position: absolute;
left: 8%;
right: 9.26%;
top: 12.01%;
bottom: 7.99%;



/* Vector */

position: absolute;
left: 8%;
right: 9.26%;
top: 12.01%;
bottom: 7.99%;

background: #061D3D;


/* Group 24751 */

position: absolute;
width: 609.38px;
height: 78.35px;
left: 1109px;
top: 811.65px;



/* Rectangle 4755 */

box-sizing: border-box;

position: absolute;
width: 78.35px;
height: 78.35px;
left: 1640.03px;
top: 811.65px;

background: #FFFFFF;
border: 1.74109px solid rgba(24, 141, 243, 0.7);
border-radius: 20.8931px;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Frame */

position: absolute;
width: 34.82px;
height: 34.82px;
left: 1661.8px;
top: 833.41px;



/* Vector */

position: absolute;
left: 62.5%;
right: 12.5%;
top: 8.33%;
bottom: 66.67%;

background: rgba(24, 141, 243, 0.08);
border: 2.26342px solid #188DF3;


/* Vector */

position: absolute;
left: 12.51%;
right: 62.49%;
top: 37.49%;
bottom: 37.51%;

background: rgba(24, 141, 243, 0.08);
border: 2.26342px solid #188DF3;


/* Vector */

position: absolute;
left: 62.5%;
right: 12.5%;
top: 66.66%;
bottom: 8.34%;

background: rgba(24, 141, 243, 0.08);
border: 2.26342px solid #188DF3;


/* Vector */

position: absolute;
left: 35.79%;
right: 35.75%;
top: 56.29%;
bottom: 27.13%;

background: #188DF3;
border: 2.26342px solid #188DF3;


/* Vector */

position: absolute;
left: 35.79%;
right: 35.79%;
top: 27.12%;
bottom: 56.29%;

border: 2.26342px solid #188DF3;


/* Group 24750 */

position: absolute;
width: 510.14px;
height: 78.35px;
left: 1109px;
top: 811.65px;



/* Rectangle 4753 */

position: absolute;
width: 510.14px;
height: 78.35px;
left: 1109px;
top: 811.65px;

background: linear-gradient(180deg, #49AAFF 0%, #188BEF 100%);
border-radius: 20.8931px;


/* Group 24672 */

position: absolute;
width: 143.65px;
height: 35.14px;
left: 1290.07px;
top: 833.41px;



/* Group 24552 */

position: absolute;
width: 143.65px;
height: 35.14px;
left: 1290.07px;
top: 833.41px;



/* 12:33 */

position: absolute;
left: 61.48%;
right: 33.86%;
top: 52.01%;
bottom: 46.32%;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 22.6351px;
line-height: 27px;
/* identical to box height */

color: #FFFFFF;



/* Group 24503 */

position: absolute;
width: 34.51px;
height: 35.14px;
left: 1290.07px;
top: 833.41px;



/* Frame */

position: absolute;
width: 34.51px;
height: 35.14px;
left: 1290.07px;
top: 833.41px;



/* Vector */

position: absolute;
left: 12.61%;
right: 11.71%;
top: 15.48%;
bottom: 13.29%;

border: 2.08931px solid #FFFFFF;
